// Цветовые переменные
$text-color: #81343d;
$button-color: #81343D;
$in-color: #9B9797;
$input-out-color: #d9d9d9;

// Базовые настройки
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: $text-color;
  background-image: url("../images/malina_background.png");
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

input, select, button {
  font-family: inherit;
  font-size: 1rem;
}

// Заголовок
.header {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0.5rem 0.5rem;
  width: 100%;

  .logo {
    display: flex;
    justify-content: center;


    img {
      margin-left: 1rem;
      height: 4rem;
      width: auto;
    }
  }
}

// Основной контейнер
.authorization-form {
  background-color: rgba(217, 217, 217, 0.7);
  border-radius: 2rem;
  margin: 7rem 1rem;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem 3rem;
    gap: 1.5rem;
    max-width: 900px;

    label {
      display: block;
      font-size: 1.5rem;
      font-family: 'Inter', sans-serif;
      font-weight: 300;
    }

    input {
      width: 100%;
      padding: 0.8rem 1.5rem;
      border: none;
      border-radius: 30px;
      background-color: $input-out-color;
      opacity: 100%;
      color: $in-color;

      &::placeholder {
        color: $in-color;
      }
    }

    .sign {
      display: flex;
      flex-direction: column;
      align-items: center;

      .btn {
        padding: 0.5rem 1.5rem;
        width: 70%;
        border: none;
        border-radius: 30px;
        font-size: 1.25rem;
        font-weight: 300;
        cursor: pointer;
        text-align: center;
        background-color: $button-color;
        color: $input-out-color;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}