// Цветовые переменные
$text-color: #81343d;
$button-color: #81343D;
$in-color: #9B9797;
$input-out-color: #d9d9d9;
$error-color: #FF6B6B; // Цвет для ошибок

// Базовые настройки
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: $text-color;
  background-image: url("../images/malina_background.png");
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

input, select, button {
  font-family: inherit;
  font-size: 1rem;
}

// Заголовок
.header {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0.5rem 0.5rem;
  width: 100%;

  .logo {
    display: flex;
    justify-content: center;

    img {
      margin-left: 1rem;
      height: 4rem;
      width: auto;
    }
  }
}

// Основной контейнер
.authorization-form {
  background-color: rgba(217, 217, 217, 0.7);
  border-radius: 2rem;
  margin: 7rem 1rem;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
    gap: 1.5rem;
    max-width: 900px;

    label {
      display: block;
      font-size: 1.5rem;
      font-family: 'Inter', sans-serif;
      font-weight: 300;
    }

    input {
      width: 100%;
      padding: 0.8rem 1.5rem;
      border: 1px solid transparent;
      border-radius: 30px;
      background-color: $input-out-color;
      color: $in-color;
      outline: none;

      &::placeholder {
        color: $in-color;
      }
    }

    .sign {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .btn {
        padding: 0.5rem 1.5rem;
        width: 70%;
        border: none;
        border-radius: 30px;
        font-size: 1.25rem;
        font-weight: 300;
        cursor: pointer;
        text-align: center;
        background-color: $button-color;
        color: $input-out-color;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

// Контейнер для поля ввода, чтобы ошибка не двигала другие элементы
.input-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

input.input-error {
  border-color: $error-color;
  box-shadow: 0 0 5px rgba(255, 107, 107, 0.5);
}

// Стиль для текста ошибки под полем
.error-message {
  color: $error-color;
  font-size: 0.8rem;
  padding-left: 1.5rem;
  min-height: 1.25rem;
  margin-top: 4px;
  display: none;
}

// Стиль для общего сообщения об ошибке
.error-message-general {
  color: $error-color;
  font-size: 0.9rem;
  text-align: center;
  min-height: 1.25rem;
  margin-top: -1rem;
  margin-bottom: -0.5rem;
  display: none;
}

// Класс-помощник для отображения сообщений
.visible {
  display: block;
}